.heading {
  margin: 28px 20px;
  margin-bottom: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

a:link {
  color: black
}

@media screen and (max-width: 991px) {
  .heading {
    text-align: center;
  }
